<div class="page-layout">
  <h1>Users</h1>
  <hr>
  <p>The users below are on the network the cafee provides all users to use. All internet access is free of charge. No membership or payment needed for access. Rules for the network use are listed below:</p>
  <h4>Network Usage Rules</h4>
  <ul>
    <li>No Hacking</li>
    <li>No Spamming</li>
    <li>No Running</li>
    <li>Limit 1 hour per day</li>
    <li>Any rule broken results in ban</li>
  </ul>
  <h4>
    Addtional Rules and Regulations
  </h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni maxime accusantium exercitationem ad deleniti soluta laborum eligendi adipisci accusamus dignissimos qui corrupti, sint eius, tenetur optio. Adipisci ea cupiditate dolorum.
    Ipsam accusantium ullam cupiditate quas delectus voluptatem dolorum vel sed qui repellat officiis nulla nostrum, perferendis, quidem sapiente earum nesciunt debitis repudiandae est blanditiis rerum corrupti. Quam deserunt in animi.
    Consequatur quaerat reprehenderit facilis tenetur iusto quis commodi nemo natus excepturi at? Reprehenderit eum veniam laborum voluptates distinctio iste explicabo illo delectus facere nemo! Veritatis explicabo sequi ipsa culpa accusantium?
    Illo illum sint blanditiis exercitationem, delectus est eveniet aperiam dolorum perspiciatis eos rem explicabo dignissimos reiciendis officia, quo at esse consectetur asperiores doloribus modi cum vitae quas velit! Necessitatibus, ratione?
    Id dolores dolorum in ad. At accusantium dolores non eveniet dolore dignissimos totam cumque sapiente, vitae perspiciatis blanditiis sequi veniam, repellendus iure dicta, doloremque magni aspernatur assumenda iste quidem libero.
  </p>
  <h4>Acitve Users Online</h4>
  <ul>
    <li>Active 3 - Last Updated July 4th, 1987</li>
  </ul>
  <h4>
    Current Banned Users - Report if seen online
  </h4>
  <p>Ban List - Newest Ban on Top</p>
  <ol>
    <li>Joe</li>
    <li>Josh</li>
    <li>Joseph</li>
    <li>Jackman</li>
    <li>Jonathan</li>
  </ol>
  <hr>
  <p class="mod">Last Modified - April 17, 1945</p>
</div>
<div class="books-container">
  <mat-toolbar color="primary" class="create-toolbar">
    <mat-toolbar-row>
      <span class="title">Active Users</span>
      <div class="button-row">
        <button (click)="goToCreate()" mat-raised-button color="accent" class="pull-right">
          Create a User
          <mat-icon class="example-icon">add_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="book-card-container">
    <mat-card class="grow item-card" *ngFor="let user of users; let i = index">
      <mat-toolbar color="warn" class="toolbar">
        <mat-toolbar-row>
          <mat-card-title>{{user.username}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-toolbar-row>
      </mat-toolbar>
      <img class="list-cover-image" mat-card-image [src]="user.image_url" alt="user">
      <mat-card-content>
        <p>ID: {{user.id}}</p>
        <P>username: {{user.author}}</P>
        <P>email: {{user.genre}}</P>
      </mat-card-content>
      <mat-card-actions class="btn-action-grid">
        <button mat-raised-button (click)="deleteUser(user.id)" color="warn">
          Delete
          <mat-icon class="example-icon">clear</mat-icon>
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/user',user.id]">
          Edit
          <mat-icon class="example-icon">edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
