<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <div class="button-row">
      <span>Cafe Lotus</span>&nbsp;&nbsp;
      <button mat-raised-button color="" [routerLink]="['home']" [routerLinkActive]="['is-active']">
        Home<mat-icon class="example-icon">home</mat-icon>
      </button>
      <button mat-raised-button color="accent" [routerLink]="['books']" [routerLinkActive]="['is-active']">
        Books<mat-icon class="example-icon">book</mat-icon>
      </button>
      <button mat-raised-button color="accent" [routerLink]="['beverages']" [routerLinkActive]="['is-active']">
        Beverages<mat-icon class="example-icon">book</mat-icon>
      </button>
      <button mat-raised-button color="accent" [routerLink]="['users']" [routerLinkActive]="['is-active']">
        Active Users<mat-icon class="example-icon">book</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
