.container {
  display: grid;
  grid-template-rows:1fr 15fr 1fr;
  height: 100%;
  background-color: transparent;
  background-image: url("images/bk.jpg");
  /*
  Free to use image under Unsplash License
  Image taken by Kris Atomic
  */
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery {
  width: calc(100% - 100px);
  overflow: auto;
  margin: 0 auto;
  padding: 0 50px;
  min-height: calc(100% - 130px);
  background-color: transparent;
}
